body {
  margin-top: 150px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101820;
}

.title {
  font-size: 35px;
  font-style: italic;
  font-family: "Bungee Spice", sans-serif;
  text-align: center;
  margin: 10px 0px 5px 0px;
}

.cont {
  display: grid;
  grid-template-columns: 60px 10px 60px 10px 60px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-family: "Bungee Hairline", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #D09683;
  background-color: #330000;
}

.stoper {
  background-color: #73605B;
  box-shadow: 1px 1px 20px #330000;
  border-radius: 20px;
  width: 300px;
}

.stopka{
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-family: "Bungee", sans-serif;
}

.btn-grid {
  display: grid;
  grid-template-columns: 65px 65px 65px;
  justify-content: space-between;
  margin: 15px 20px 0px 20px;
  align-items: center;
}

.btn {
  height: 30px;
  padding: 7px 5px 7px 5px;
  border: none;
  background-color: #330000;
  color: #D09683;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.1s,
    color 0.15s,
    padding 0.17s;
}

.btn:hover {
  opacity: 0.6;
}

.btn:active {
  color: white;
  opacity: 0.9;
  padding: 6px 5px 8px 5px;
}